@page
@model TrainingPortal.Pages.TeamModel
@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var member in Manager.GetAll().ToArray())
{
<div>
    <h4>@member.Name</h4>
    <h4>@member.Title</h4>
    <p>@member.Description</p>
    <img class="img img-thumbnail" src="@member.GetInlineImageSrc()" />
    <a asp-area="" asp-page="/Team/EditMember" asp-route-id="@member.Id">Edit</a>
</div>
}

<a class="btn btn-info" asp-page="/Team/AddMember">Add Team Member</a>



