@page
@model TrainingPortal.Pages.TeamModel
@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-lg-10 d-flex flex-row-reverse" >
        
        <a class="btn btn-info" asp-page="/Team/AddMember">
        <span class="glyphicon glyphicon-plus"></span> Add New Member</a>
    </div>

    <br />
    <br />

    @foreach (var member in Manager.GetAll().ToArray())
    {
        <div class="row col-lg-10">
            <div class="col-4">
                @if (string.IsNullOrEmpty(member.GetInlineImageSrc()))
                {
                    <img class="profile-img img img-thumbnail" src="~/img/profile.png" alt="Profile" />
                }
                else
                {
                    <img class="profile-img img img-thumbnail" src="@member.GetInlineImageSrc()" alt="Profile" />
                }

            </div>

            <div class="col-8">
                <h4>@member.Name <a title="Edit" asp-area="" asp-page="/Team/EditMember" asp-route-id="@member.Id">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a></h4>

                <span style="color:#747474">@member.Title</span>
                <br />
                <p>@member.Description</p>   
            </div>
        </div>

        <hr class="row col-lg-10"/>
    }
    </div>




