@model IEnumerable<TrainingPortal.Models.Category>

@{
    ViewData["Title"] = "Features";
}

<div class="mb-4 row justify-content-center">
    <h2>Our Features</h2>
</div>


<div class="d-flex flex-wrap">

    @foreach (var item in Model)
    {
        <div class="d-flex flex-column border col-lg-4 col-md-6 col-sm-12" style="min-height: 300px;">
            <div class="d-flex  justify-content-between" style="width: 100%;">
                <div class="d-flex">
                    <h4>@item.Title | <a asp-action="Edit" asp-route-id="@item.CategoryId">
                        <span title="Edit" class="glyphicon glyphicon-pencil" />
                    </a></h4>
                    
                </div>
                <h4>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId">
                        <span title="Delete this feature" class="glyphicon glyphicon-trash" />
                    </a>
                </h4>
            </div>
            <br>
            <p class="text-break " style="">@item.Description</p>

            <div class="mt-auto mb-4 align-self-end">
                <a asp-controller="Courses" asp-action="Index" asp-route-id="@item.CategoryId">Start journey</a>
            </div>
        </div>
    }

    <div class="col-4 align-self-center">
        <a asp-action="Create" class="btn-link">
            <span style="font-size:30px;" title="Add new feature" class="icon glyphicon glyphicon-plus-sign" />
        </a>
    </div>

</div>
